.stepperNav {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex: 1 0 0px;

    & .step {
        position: relative;
        flex: 1 0 0px;
        text-align: center;
        padding: 12px;
        padding-bottom: 24px;
        font-size: 14px;
        color: rgba(0,0,0, 38%);
        overflow: hidden;

        &.optional{
            padding-left: 16px;
            padding-right: 16px;
        }

        &.warning{
            & .label,
            & .circle {
                color: #F44336;
            }
            
            & .circle { 
                background: transparent;
            }
        }

        &:hover{
            background-color: rgba(0,0,0, 6%);
        }

        &.active:not(.warning){
            color: rgba(0,0,0, 87%);
            & .circle{
                background-color: #2196F3;
            }
        }

        &.done{
            & .circle{
                color: #fff;
                background-color: #2196F3;
            }
        }

        & .circle {
            background-color: rgba(0,0,0, 38%);
            border-radius: 100%;
            width: 24px;
            height: 24px;
            color: #fff;
            line-height: 24px;
            display: inline-block;
            margin: auto;
            font-size: 12px;
        }

        & .label{
            margin-top: 16px;
        }

        & .subLabel{
            font-size: 12px;
            color: rgba(0,0,0, 54%);
        }

        & .barLeft, 
        & .barRight {
            position: absolute;
            top: 24px;
            height: 1px;
            border-top: 1px solid #BDBDBD;
        }

        &:not(:last-child) .barLeft {
            right: 0;
            left: 50%;
            margin-left: 20px;
        }

        &:not(:first-child) .barRight {
            left: 0;
            right: 50%;
            margin-right: 20px;
        }
    }
}
