@import './../../../styles/variables.css';

.appBar {
    background-color: #eee;
    z-index: 200 !important;
}

.title {
  color: #333;
  margin-bottom: 2px;
  font-weight: 300;
  text-transform: capitalize;
}

.leftIcon {
  width: 92px;
  margin-right: 10px;

  & > svg {
    width: 92px;
  }
}

.rightNavigation {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.off {
    background :#A5D6A7 !important;

    & .thumb {
        background: var(--color-adex-accent-primary) !important;
    }

    & .ripple {
        background: var(--color-adex-accent-primary) !important;
    }
}

.field {
  margin-bottom: 0 !important;
}
