.signinContainer {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.adexLogo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%)
}

.adxVersion {
    position: absolute;
    left: 10px;
    bottom: 10px;
}