.card {
    display: inline-block;
    margin: 10px;
}

.cardTitle, 
.cardMedia {
    cursor: pointer;
}

.cardActions {
    justify-content: space-between;
}

.rowCell {
    height: 100px !important;
}

.link{
    cursor: pointer !important;
}


.img {
    width: auto;
    height: 100%;
}