@import './../../../../node_modules/react-toolbox/lib/variables.css';
@import '../../../styles/variables.css';

.dialog {
    min-height: 70vh;
    min-width: 800px;
    max-width: 1080px;
    background-color: #fff;

    &.darkerBackground {
        background-color: #eee;
    }

    & .body{
        // overflow-y: auto;
        // overflow-y: overlay;
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
}

.dialogBody {
    flex-grow: 1;
    position: relative;
}

.title {
    margin-bottom: 24px;
    margin-top: 8px;
    padding: 0 8px;
    overflow: hidde;
    word-wrap: break-word;
}

.textLeft {
    text-align: left;
}

.leftCol {
    text-transform: uppercase;
    color: var(--color-adex-neutral-contrast-lighter);
    text-align: right;
}

.rightCol {
    text-align: left;
}

.propRow {
    margin: 10px 0;
}

.textRight {
    text-align: right;
}

.progressCircleCenter {
    /* TODO: Temp - make it better */
    position: absolute !important;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
}

.breakLong {
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

@media (width <= 1400px) {
    .dialog { 
        max-width: 95%;
    }
}

@media (width <= 1000px) {
    .dialog {
        min-width: 95%;
    }
}

@media (height <= 1000px) {
    .dialog {
        min-height: 95vh;
    }
}

@media (height <= 1200px) {
    .dialog {
        min-height: 90vh;
    }
}

@media (width < 768px) {
    .leftCol {
        text-align: left;
    }

    .rightCol {
        text-align: left;
    }
}

/*  Targets 
 TODO: Make it commom if needed */
.targetsHead {
    border-bottom: 1px solid var(--color-adex-neutral-contrast);
    color: var(--color-adex-neutral-contrast);
    padding-bottom: 5px;
    text-align: left;
}

.weightSlider {
    padding-top: 16px;
}

.sliderWrapper {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 8px 0;
}

.targetRow {
    margin-top: 10px;
    border-bottom: 1px solid var(--color-adex-neutral-contrast);
}

.weightCol {
    position: realtive;
}

.agesGrid {
    padding: 0;
}

.error {
    color: var(--color-adex-danger-primary);
}

.warning {
    color: var(--color-adex-warning-primary);
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.adexLogoTop {
    position: absolute;
    top: -6vh;
    left: 0;
}

.contentBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.contentStickyTop {
    padding: 8px 4px;
    flex-shrink: 0;
    display: inline-flex;
    word-break: break-word;
}

.contentBody {
    flex-grow: 1;
    overflow-y: auto; 
}

.contentTopLoadingCircular {
    flex-shrink: 0;
    margin-right: 12px;
}

.contentTopLoading {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > div {
        padding: 8px; 
    }
}
