.imgLoading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.circular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}