@import './../../node_modules/react-toolbox/lib/variables.css';
@import './../../node_modules/react-toolbox/lib/colors.css';

:root {
    --color-nav-item: rgba(40, 20, 200);

    /*AdEx Blue*/
    --color-adex-primary: #0277BD; /* LightBlue 800 */
    --color-adex-primary-lighter: #03a9f4; /* LightBlue 500 */
    --color-adex-primary-accent: #00E5FF; /* LightBlue 800 */
    --color-adex-primary-contrast: #FFFFFF; 

    /*AdEx Yellow*/
    --color-adex-alt-primary-button: #ffae00; /* FFAB00 Amber 700 */
    --color-adex-alt-primary-header: #ffae00; /* FFC107 Amber 500 */
    --color-adex-alt-lighter: #FFD740; /* Amber A200 */
    --color-adex-alt-primary: #FF5722; /* Deep Orange 500 */
    --color-adex-alt-contrast: #FFFFFF; 

    /*AdEx Green*/
    --color-adex-accent-primary: #00E676; /* Green A400 */
    --color-adex-accent-accent: #00ffbf; /* Teal A400-custo */
    --color-adex-accent-contrast: #FFFFFF;    

    /*Adex Dark*/
    --color-adex-dark-primary: #3C3C3c;

    /*AdEx danger*/
    --color-adex-danger-primary: #FF5722; /* Deep Orange 500 */
    --color-adex-danger-contrast: #FFFFFF;   

    /*AdEx warning*/
    --color-adex-warning-primary: #ffae00;
    --color-adex-warning-contrast: #FFFFFF;   

    /*AdEx neutral*/
    --color-adex-neutral-primary: #FFFFFF;  /* Deep Orange 500 */
    --color-adex-neutral-contrast: #787878;     

    /*AdEx other colors*/
    --color-adex-divider: var(--color-divider);

    /* Sections gradients */
    --gradient-adex-first: linear-gradient(to left, #34b3f8, #1a75ed);
    --gradient-adex-second: linear-gradient(to left, #FFD740, #FFAB00);
}