@import './variables.css';
:root {
  --button-neutral-color-hover: color(var(--color-adex-neutral-contrast) a(20%));
  --button-danger-color-hover: color(var(--color-adex-danger-contrast) a(20%));
  --button-warning-color-hover: color(var(--color-adex-warning-contrast) a(20%));
  --button-dark-color-hover: color(var(--color-adex-dark-contrast) a(20%));
  --button-light-color-hover: color(var(--color-adex-light-contrast) a(20%));
  --button-success-color-hover: color(var(--color-adex-success-contrast) a(20%));
  --button-first-color-hover: color(var(--color-adex-primary-lighter) a(20%));
  --button-second-color-hover: color(var(--color-adex-alt-primary-button) a(20%));
  --button-disabled-text-color: color(var(--color-adex-neutral-contrast) a(80%));
  --button-disabled-background-color: color(var(--color-adex-neutral-primary) a(80%));
}

.button{
  user-select: none;
  &:not(.floating) {
    border-radius: 0 !important;
  }
  &[disabled] {
    color: var(--button-disabled-text-color) !important;
  }
}


.solid {
  &[disabled] {
    background-color: var(--button-disabled-background-color) !important;
  }
}

.toggle {
  & > .icon,
  & svg {
    font-size: 24px !important;
  }
}

.neutral:not([disabled]) {
  &.raised,
  &.floating {
    background-color: var(--color-adex-neutral-primary) !important;
    color: var(--color-adex-neutral-contrast) !important;
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-neutral-contrast) !important;

    &:focus:not(:active) {
      background: var(--button-neutral-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-neutral-color-hover) !important;
  }

  &.inverse {
    &.raised,
    &.floating {
      background-color: var(--color-adex-neutral-contrast) !important;
      color: var(--color-adex-neutral-primary) !important;
    }

    &.flat,
    &.toggle {
      color: var(--color-adex-neutral-primary) !important;

      &:focus:not(:active) {
        background: var(--button-neutral-color-hover) !important;
      }
    }

    &.flat:hover {
      background: var(--button-neutral-color-hover) !important;
    }
  }
}

.danger:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--color-adex-danger-primary) !important;
    color: var(--color-adex-danger-contrast) !important;
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-danger-primary) !important;

    &:focus:not(:active) {
      background: var(--button-danger-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-danger-color-hover) !important;
  }

  &.raised {
    &.inverted {
      color: var(--color-adex-danger-primary) !important;
      background: var(--color-adex-danger-contrast) !important;
    }
  }
}

.warning:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--color-adex-warning-primary) !important;
    color: var(--color-adex-warning-contrast) !important;
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-warning-primary) !important;

    &:focus:not(:active) {
      background: var(--button-warning-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-warning-color-hover) !important;
  }

  &.raised {
    &.inverted {
      color: var(--color-adex-warning-primary) !important;
      background: var(--color-adex-warning-contrast) !important;
    }
  }
}

.success:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--color-adex-success-primary) !important;
    color: var(--color-adex-success-contrast) !important;
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-success-primary) !important;

    &:focus:not(:active) {
      background: var(--button-success-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-success-color-hover) !important;
  }

  &.raised {
    &.inverted {
      color: var(--color-adex-success-primary) !important;
      background: var(--color-adex-success-contrast) !important;
    }
  }
}

.dark:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--color-adex-dark-primary) !important;
    color: var(--color-adex-dark-contrast) !important;
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-dark-primary) !important;

    &:focus:not(:active) {
      background: var(--button-dark-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-dark-color-hover) !important;
  }

  &.raised {
    &.inverted {
      color: var(--color-adex-dark-primary) !important;
      background: var(--color-adex-dark-contrast) !important;
    }
  }
}

.light:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--color-adex-light-primary) !important;
    color: var(--color-adex-light-contrast) !important;
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-light-primary) !important;

    &:focus:not(:active) {
      background: var(--button-light-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-light-color-hover) !important;
  }

  &.raised {
    &.inverted {
      color: var(--color-adex-light-primary) !important;
      background: var(--color-adex-light-contrast) !important;
    }
  }
}

.first:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--gradient-adex-first) !important;
    color: var(--color-adex-danger-contrast) !important;
    & > span {
        font-weight: 600;
      }
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-primary-lighter) !important;

    &:focus:not(:active) {
      background: var(--button-first-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-first-color-hover) !important;
  }
}

.second:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--gradient-adex-second) !important;
    color: var(--color-adex-dark-primary) !important;
    & > span {
        font-weight: 600;
      }
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-alt-primary-button) !important;

    &:focus:not(:active) {
      background: var(--button-second-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-second-color-hover) !important;
  }
}