@import './variables.css';
:root {
  --button-neutral-color-hover: color(var(--color-adex-neutral-contrast) a(20%));
  --button-danger-color-hover: color(var(--color-adex-danger-contrast) a(20%));
  --button-first-color-hover: color(var(--color-adex-primary-lighter) a(20%));
  --button-second-color-hover: color(var(--color-adex-alt-primary-button) a(20%));
  --button-disabled-text-color: color(var(--color-adex-neutral-contrast) a(80%));
  --button-disabled-background-color: color(var(--color-adex-neutral-primary) a(80%));
}

.button{
  user-select: none;
  &[disabled] {
    color: var(--button-disabled-text-color) !important;
  }
}


.solid {
  &[disabled] {
    background-color: var(--button-disabled-background-color) !important;
  }
}

.toggle {
  & > .icon,
  & svg {
    font-size: 24px !important;
  }
}

.neutral:not([disabled]) {
  &.raised,
  &.floating {
    background-color: var(--color-adex-neutral-primary) !important;
    color: var(--color-adex-neutral-contrast) !important;
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-neutral-contrast) !important;

    &:focus:not(:active) {
      background: var(--button-neutral-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-neutral-color-hover) !important;
  }

  &.inverse {
    &.raised,
    &.floating {
      background-color: var(--color-adex-neutral-contrast) !important;
      color: var(--color-adex-neutral-primary) !important;
    }

    &.flat,
    &.toggle {
      color: var(--color-adex-neutral-primary) !important;

      &:focus:not(:active) {
        background: var(--button-neutral-color-hover) !important;
      }
    }

    &.flat:hover {
      background: var(--button-neutral-color-hover) !important;
    }
  }
}

.danger:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--color-adex-danger-primary) !important;
    color: var(--color-adex-danger-contrast) !important;
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-danger-primary) !important;

    &:focus:not(:active) {
      background: var(--button-danger-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-danger-color-hover) !important;
  }
}

.first:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--gradient-adex-first) !important;
    color: var(--color-adex-danger-contrast) !important;
    & > span {
        font-weight: 600;
      }
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-primary-lighter) !important;

    &:focus:not(:active) {
      background: var(--button-first-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-first-color-hover) !important;
  }
}

.second:not([disabled]) {
  &.raised,
  &.floating {
    background: var(--gradient-adex-second) !important;
    color: var(--color-adex-dark-primary) !important;
    & > span {
        font-weight: 600;
      }
  }

  &.flat,
  &.toggle {
    color: var(--color-adex-alt-primary-button) !important;

    &:focus:not(:active) {
      background: var(--button-second-color-hover) !important;
    }
  }

  &.flat:hover {
    background: var(--button-second-color-hover) !important;
  }
}