.body {
    padding-top: 36px !important;

    & > button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.dialog {
  transform: translateY(0) !important;

  /* &.active {
    transform: scale(1, 1) !important;
  } */
}