@import './variables.css';
:root {
    --input-text-label-color: color(var(--color-black) a(46%));
    --input-text-error-color: var(--color-adex-danger-primary);
    --input-text-required-color: var(--color-adex-danger-primary);
    --input-text-highlight-color: var(--color-primary);
    --underline-margin-bottom: 8px;
    --input-padding: calc(2 * var(--unit));
}

.input {
    text-align: left;
    
    & > div {
        font-size: 12px;
        top: calc(100% - 17px);
        color: var(--input-text-label-color) !important;
        max-width: calc(100% - 60px);
        display: inline-block;
        margin-top: var(--underline-margin-bottom);
    }
}

.error,
.counter {
    display: inline-block;
    margin-top: var(--underline-margin-bottom);
    line-height: inherit !important;
    max-width: calc(100% - 60px);
}

.counter {
    color: var(--input-text-label-color) !important;
}

.label {
    color: var(--input-text-label-color) !important;
}

.inputElement {
    resize: vertical;

    &:focus:not([disabled]):not([readonly]) {
        & ~ .label:not(.fixed) {
            color: var(--input-text-highlight-color) !important;
        }

        & ~ .label > .required {
            color: var(--input-text-required-color) !important;
        }

        & ~ .icon {
            color: var(--input-text-highlight-color) !important;
        }
    }
}

.error {
    color: var(--input-text-error-color) !important;
}

.errored {
    padding-bottom: var(--input-padding);

    & > .inputElement {
        border-bottom-color: var(--input-text-error-color) !important;
    }

    & > .counter,
    & > .label {
        color: var(--input-text-error-color) !important;
    }

    & > .label > .required {
        color: var(--input-text-required-color) !important;
    }
}

.bar {
    color: var(--input-text-highlight-color) !important;
}