:root {
    --color-divider: #666;
    --color-background: #fff;
    --color-text: #333;
    --color-text-secondary: #999;

    --color-primary: #1b75bc;
    --color-primary-dark: #800080;
    --color-accent: #302060;
    --color-accent-dark: #102080;
    --color-primary-contrast: #fff;
    --color-accent-contrast: #000;

    --color-nav-item: rgba(40, 20, 200)
}