@import './colors.css';

:root {
    /*Butoon colors*/
        /* RT levels colors */
    --color-adex-button-primary: var(--color-adex-primary);
    --color-adex-button-primary-contrast: var(--color-adex-primary-contrast);
    --color-adex-button-accent: var(--color-adex-alt-primary);
    --color-adex-button-accent-contrast: var(--color-adex-alt-contrast);
        /* AdEx button colors */
    --color-adex-button-first: var(--color-adex-primary);
    --color-adex-button-first-contrast: var(--color-adex-primary-contrast);
    --color-adex-button-second: var(--color-adex-primary);
    --color-adex-button-second-contrast: var(--color-adex-primary-contrast);

    /* Sections colors */
    --color-adex-first: var(--color-adex-primary);
    --color-adex-second: var(--color-adex-alt-primary-header);
}