a, img {
  -webkit-user-drag: none;
  user-select: none;
  user-drag: none;
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@page {
  size: auto;
  margin: 20mm;
}