a, img {
  -webkit-user-drag: none;
  user-select: none;
  user-drag: none;
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@page {
  size: auto;
  margin: 20mm;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: local('Roboto'), url(../../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local('Roboto'), url(../../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: local('Roboto'), url(../../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto'), url(../../fonts/Roboto-Bold.ttf) format('truetype');
}


/* Transak widget fix */
#transak_modal-overlay {
  z-index: 1300;
}
#transak_modal {
  z-index: 1400;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}