.floating {
    position: fixed;
    top: 136px;
    right: 40px;
    z-index: 110;
}

.dialog{
    min-height: 70vh;
    
    &.AdUnit{
        background-color: #F9FBE7;
    }
    &.Campaign{
        background-color: #E0F7FA;
    }

    & .body{
        // overflow-y: auto;
        // overflow-y: overlay;
        position: relative;
    }
}

.datepicker{
    z-index: 410; 
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}