.floating {
    position: fixed;
    top: 136px;
    right: 40px;
    z-index: 110;
}

.dialog{
    min-height: 70vh;
    min-width: 800px;
    max-width: 95%;
    
    &.AdUnit{
        background-color: #F9FBE7;
    }
    &.Campaign{
        background-color: #E0F7FA;
    }

    & .body{
        // overflow-y: auto;
        // overflow-y: overlay;
        position: relative;
    }
}

.datepicker{
    z-index: 410; 
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.imgPreview {
    height: 150px;
    // margin: 20px;
    width: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.imgForm {
    text-align: left;
}

.imgUploadBtn {
    position: absolute;
    right: 20px;
    bottom: -20px;
}

.imgHeader {
    background-color: #ccc;
    position: relative;
    width: 100%;
    min-height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 20px 0;
}

.imgHolder {

}

.grid {
    padding: 0 !important; /* suka */
}

@media (width <= 1000px) {
    .dialog {
        min-width: 95%;
    }
}

@media (height <= 1000px) {
    .dialog {
        min-height: 95vh;
    }
}

@media (height <= 1200px) {
    .dialog {
        min-height: 90vh;
    }
}