@import './../../../../node_modules/react-toolbox/lib/variables.css';
@import '../../../styles/variables.css';

.dropzone {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    background: #f7f7f7;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;

    & .droppedImgContainer {
        text-align: center;
        align-self: stretch;
        flex: 1 1;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & .imgDropzonePreview {
            height: 126px;
            width: auto;
        }
    }
}

.floating {
    position: fixed;
    top: 116px;
    right: 40px;
    z-index: 110;
}

.dialog{
    min-height: 70vh;
    min-width: 800px;
    max-width: 1280px;
    background-color: #eee;

   /*
    &.AdUnit{
        background-color: #0f0;
    }
    &.Campaign{
        background-color: #E0F7FA;
    }
    */

    & .body{
        // overflow-y: auto;
        // overflow-y: overlay;
        position: relative;
    }
}

.datepicker{
    z-index: 410; 
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.imgPreview {
    height: 150px;
    // margin: 20px;
    width: auto;
    box-shadow: var(--shadow-2p);  /* 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.imgForm {
    text-align: left;
}

.imgUploadBtn {
    position: absolute;
    right: 20px;
    bottom: -20px;
}

.imgHeader {
    background-color: #ccc;
    position: relative;
    width: 100%;
    min-height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 30px 0;
}

.uploadInfo {
    text-align: left;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
    max-height: 100%;
}

.grid {
    padding: 0 !important; /* suka */
}

@media (width <= 1400px) {
    .dialog { 
        max-width: 95%;
    }
}

@media (width <= 1000px) {
    .dialog {
        min-width: 95%;
    }
}

@media (height <= 1000px) {
    .dialog {
        min-height: 95vh;
    }
}

@media (height <= 1200px) {
    .dialog {
        min-height: 90vh;
    }
}