@import './../../../styles/variables.css';

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.values {
    color: #000 !important;
}

.actionBtn {
    margin-left: 5px;
}

.dropdown {
    width: 100%;
    
    & .label {
        color: #fff !important;
    }

    & .value {
        & > input {
            color: #fff !important;
            border-bottom-color: #fff !important;
        }

        & > label {
            color: #fff !important;
        }

        & .bar {

        }
    }

    & .field {
         color: #fff !important;
    }

    & .input {
        & .label {
            color: #fff !important;
        }
    }
}