@import './../../../styles/variables.css';
@import './../../../../node_modules/react-toolbox/lib/list/theme.css';

:root {
    --dialog-height: 80vh;
}

.overlay {
    background-color: var(--overlay-color-light) ;
}

.dialog {
    height: var(--dialog-height);
    overflow: visible;

    & .body {
        height: var(--dialog-height);
    }
}

.adexLogoTop {
    position: absolute;
    top: -6vh;
    left: 0;
}

.tab {
    height: calc(var(--dialog-height) - 150px);
    overflow: auto;
    position: relative;
}

.addrsBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.addrHead {
    /* position: absolute;
    top: 0;
    width: 100%; */
    padding: 17px 12px;
    flex-shrink: 0;
    display: inline-flex;
    word-break: break-word;
}

.addrList {
    /* position: absolute;
    top: 50px;
    width: 100%;
    bottom: 0;
    overflow: auto */
    flex-grow: 1;
    overflow-y: auto; 
}

.circular {
    vertical-align: middle;
    margin-right: 6px;
}

.metamaskLAbel {
    padding:  17px 0;
}

.tabBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 17px 12px;
}

.tabStickyTop {
    padding: 17px 12px;
    flex-shrink: 0;
    display: inline-flex;
    word-break: break-word;
}

.tabBody {
    flex-grow: 1;
    overflow-y: auto; 
}

.tabLoadingCircular {
    flex-shrink: 0;
    padding-right: 12px;
}

.tabLoading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addrInfoWrapper {
    width: 100%;
    padding: 10px 0;
}

.addr {    
    color: var(--color-text);
    font-size: var(--font-size-normal);
}

.addrInfo {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    color: var(--color-text-secondary);
    font-size: var(--font-size-small);
    padding-top: var(--list-item-legend-margin-top);
    white-space: normal;

    & strong {
        margin-right: 15px;
    }
}

.addrInfoLabel {
    color: #cdcdcd;
    font-weight: bold;
}