@import './../../../styles/variables.css';

:root {
    --dialog-height: 80vh;
}

.overlay {
    background-color: var(--overlay-color-light) ;
}

.dialog {
    height: var(--dialog-height);
    overflow: visible;

    & .body {
        height: var(--dialog-height);
    }
}

.adexLogoTop {
    position: absolute;
    top: -6vh;
    left: 0;
}

.tab {
    height: calc(var(--dialog-height) - 150px);
    overflow: auto;
    position: relative;
}

.addsBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.addrHead {
    /* position: absolute;
    top: 0;
    width: 100%; */
    padding: 17px 12px;
    flex-shrink: 0;
    display: inline-flex;
    word-break: break-word;
}

.addrList {
    /* position: absolute;
    top: 50px;
    width: 100%;
    bottom: 0;
    overflow: auto */
    flex-grow: 1;
    overflow-y: auto; 
}

.circular {
    vertical-align: middle;
    margin-right: 6px;
}