@import './../../../styles/variables.css';

.listItem, .item, .itemText {
  color: #fff !important;
  user-select: none;
 
}

.item {
  &.selectable:not(.disabled):hover {
    & .itemText {
      color: #3C3C3C !important;
    }
  }
}
.active {
  background-color: #999;
}

.button {
  width: 220px;
}

.navigation {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.version {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  padding-left: 16px;
  border-top: 1px solid var(--color-adex-divider-darker);
  color: var(--color-adex-divider-darker);
}

.listBottom {
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
}
.adxLink {
  color: var(--color-adex-divider-darker);
}
 