.listItem, .item, .itemText {
  color: #fff !important;
  user-select: none;
 
}

.item {
  &.selectable:not(.disabled):hover {
    & .itemText {
      color: #3C3C3C !important;
    }
  }
}
.active {
  background-color: #999;
}

.button {
  width: 220px;
}

 