.listItem, .item, .itemText {
  color: #fff !important;
  user-select: none;

  
}

.item {
  &.selectable:not(.disabled):hover {
       color: #000  !important;
       span {
         color: #000  !important;
       }
      .itemText {
        color: #000  !important;
      }
    }
}

.active {
  background-color: #aaa;
}

.button {
  width: 220px;
}

 