@import './../../styles/variables.css';

.navDrawerDrawer {
    padding-top: 64px;
    background-color: var(--color-adex-dark-primary);
    color: #fff;
    border-right: 0 !important;
}
  
.panel {
    top: 144px;
    padding: 20px;
    padding-bottom: 64px;
    max-width: 1600px;
    margin: auto;
}