.campaignPeriodContainer {
    color: #fff;
    position: fixed;
    top: 104px;
    transform: translateY(-50%);
    right: 124px;
    z-index: 110;
}

.campaignPeriodContainer, .statsDatePicker {
    & .input, & .inputElement {
        padding: 0;
        margin: 0;
        border: 0;
        display: inline-block;
        color: #fff;
        vertical-align: text-bottom;
    }
    & .label {
        display: none;
    }
    & > div {
        display: inline-block;
    }
    & > span {
        margin-left: 5px;
        margin-right: 5px;
        opacity: 0.6;
        vertical-align: text-bottom;
    }
}

.statsDatePicker {
    opacity: 0.6;
    & span {
        color: #fff;
    }
    &.active {
        opacity: 1;
    }
}