.circular{
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-right: 10px;
}

.itemStatus {
    position: fixed;
    right: 40px;
    top: 200px;
    z-index: 100;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    & > span, & > div{
        display: inline-block;
        vertical-align: middle; 
        margin-right: 10px;
        margin-bottom: 10px;
        color: #ff4081;
        cursor: default;
        & div, & span {
            cursor: default; 
        }
    }
}

.itemName {
    display: inline-block;
    width: calc(100% - 60px);
    vertical-align: middle;
    margin-left: 20px;
}

.sliderLabel {
    line-height: 16px;
    font-size: 12px;
    opacity: 0.26;
    position: absolute;
    left: 24px;
    bottom: 100%;
    &.weightLabel {
        top: 0;
        bottom: auto;
        font-size: 16px;
        opacity: 0.46;
    }
}

.itemsListControls{
    // border-top: 1px solid rgba(0,0,0, 0.2);
    // border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.top {
    display: inline-block;
    vertical-align: top;

    & h2 {
        margin-top: 0;
    }

    &.left{
        width: 70%;
        text-align: left;
    }

    &.right {
        width: 30%;
        text-align: right;
        padding: 15px;
    }
}

.headingLeft{
    width: 70%;
    text-align: left;
    color: #fff;
}

.tab {
    max-height: calc(70vh - 100px);
    outline: none;
}

.button {
    color: #000 !important;
}

.accent {
    line-height: normal !important;
    height: auto !important;
}

.icon {
    line-height: normal !important;
}

.dialog{
    min-height: 70vh;
}

.heading {
    background-color: #1b75bc;
    position: fixed;
    top: 64px;
    left: 256px;
    right: 0;
    color: #fff;
    padding-left: 22px;
    padding-right: 22px;
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    z-index: 100;
    &.Campaign, &.Channel{
        background-color:#03a9f4;
        &.items{
            background-color: #0277bd;
        }
        & input{
            color: #fff;
        }
    }
    &.AdUnit, &.AdSlot{
        background-color: #ffd740;
        &.items{
            background-color: #ffab00;
        }
        & input{
            color: #fff;
        }
    }

}

.floating {
    position: fixed;
    top: 136px;
    right: 40px;
    z-index: 110;
}

.itemPropTop {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img {
    height: 100%;
    max-width: 300px;
    width: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.imgHolder, .bannerProps{
    display: inline-block;
    vertical-align: top;
}

.imgHolder {
    height: 300px;
    margin-right: 20px;
}

.bannerProps {
    max-width: calc(100% - 400px)
}
.targetsHead {
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
}
.weightSlider {
    padding-top: 16px;
}

.sliderWrapper {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 8px 0;
}

.targetRow {
    margin-top: 10px;
}

.weightCol {
    position: realtive;
}

.agesGrid {
    padding: 0;
}

@media (height <= 1000px) {
    .dialog {
        min-height: 95vh; 
    }
}

@media (height <= 1200px) {
    .dialog {
        min-height: 85vh;
    }
}
