.circular{
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-right: 10px;
}

.itemStatus {
    display: inline-block;
    vertical-align: middle;

    & > span, & > div{
        display: inline-block;
        vertical-align: middle; 
        margin-right: 10px;
        color: #ff4081;
        cursor: default;
        & div, & span {
            cursor: default; 
        }
    }
}

.sliderLabel {
    line-height: 16px;
    font-size: 12px;
    opacity: 0.26;
    position: absolute;
    left: 24px;
    bottom: 100%;
}

.itemsListControls{
    border-top: 1px solid rgba(0,0,0, 0.2);
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.top {
    display: inline-block;
    vertical-align: top;

    & h2 {
        margin-top: 0;
    }

    &.left{
        width: 70%;
        text-align: left;
    }

    &.right {
        width: 30%;
        text-align: right;
    }
}

.tab {
    max-height: calc(70vh - 100px);
    outline: none;
}

.button {
    color: #000 !important;
}

.accent {
    line-height: normal !important;
    height: auto !important;
}

.icon {
    line-height: normal !important;
}

.wrapper{
    z-index: 400;
}

.dialog{
    min-height: 70vh;
}