@import '../../../styles/variables.css';

.circular{
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-right: 10px;
}

.itemStatus {
    position: fixed;
    right: 40px;
    top: 180px;
    z-index: 100;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    & > span, & > div {
        display: inline-block;
        vertical-align: middle; 
        margin-right: 10px;
        margin-bottom: 10px;
        color: var(--color-adex-danger-primary);
        cursor: default;
        & div, & span {
            cursor: default; 
        }
    }
}

.itemName {
    display: inline-block;
    width: calc(100% - 60px);
    vertical-align: middle;
    margin-left: 20px;
}

.sliderLabel {
    line-height: 16px;
    font-size: 12px;
    opacity: 0.26;
    position: absolute;
    left: 24px;
    bottom: 100%;
    &.weightLabel {
        top: 0;
        bottom: auto;
        font-size: 16px;
        opacity: 0.46;
    }
}

.itemsListControls{
    // border-top: 1px solid rgba(0,0,0, 0.2);
    // border-bottom: 1px solid rgba(0,0,0, 0.2);
    max-width: 1200px
}

.listTools {
    border-bottom: 1px solid var(--color-divider);
    margin-bottom: 10px;
}

.top {
    display: inline-block;
    vertical-align: top;

    & h2 {
        margin-top: 0;
    }

    &.left{
        width: 70%;
        text-align: left;
        border-bottom: 1px solid var(--color-divider);
    }

    &.right {
        width: 30%;
        text-align: right;
        padding: 15px;
    }
}

.headingLeft{
    width: 70%;
    text-align: left;
    color: #fff;
}

.tabs {
    & .navigation {
        background-color: #eee;
        & .label {
            color: #0277BD;
            opacity: 0.4;
            &.active {
                opacity: 1
            }
        }
    }

    & .pointer {
        background-color: #0277bd;
    } 

    & .tab {
        // max-height: calc(70vh - 100px);
        outline: none;
        max-width: 1200px;
    }
}

/*.button {
    color: #000 !important;
}*/

.accent {
    line-height: normal !important;
    height: auto !important;
}

.icon {
    line-height: normal !important;
}

.dialog{
    min-height: 70vh;
    max-width: 1280px;
}

.dialogItemsListContainer {
    position: absolute;
    top: 85px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    & .scrollable {
        overflow: scroll;
        overflow:  overlay;
        height: 100%;
    }
}

.heading {
    background-color: #1b75bc;
    position: fixed;
    top: 64px;
    left: 256px;
    right: 0;
    color: #fff;
    padding-left: 22px;
    padding-right: 22px;
    height: 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    z-index: 110;
    &.Campaign, &.Channel{
        background: var(--gradient-adex-first);
        &.items{
            background: var(--gradient-adex-first);
        }
        & input{
            color: #fff;
        }
    }
    &.AdUnit, &.AdSlot{
        background: var(--gradient-adex-second);
        &.items{
            background: var(--gradient-adex-second);
        }
        & input{
            color: #fff;
        }
    }
}

.floating {
    position: fixed;
    top: 116px;
    right: 40px;
    z-index: 110;
}

.itemPropTop {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img {
    height: 100%;
    max-width: 300px;
    width: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.imgHolder, .bannerProps, .unitTargets{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

.imgHolder {
    margin-right: 20px;
}

.bannerProps {
    max-width: calc(100% - 400px)
}
/* TODO: fix this s tyles */
.unitTargets {
    max-width: calc(100% - 550px)
}
.targetsHead {
    border-bottom: 1px solid var(--color-adex-neutral-contrast);
    color: var(--color-adex-neutral-contrast);
    padding-bottom: 5px;
}
.weightSlider {
    padding-top: 16px;
}

.sliderWrapper {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 8px 0;
}

.targetRow {
    margin-top: 10px;
    border-bottom: 1px solid var(--color-adex-neutral-contrast);
}

.weightCol {
    position: realtive;
}

.agesGrid {
    padding: 0;
}

.img {
    width: auto;
    height: 100%;
}

.content {
    & > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }
}

.itemDetailCard {
    &.card {
        width: 320px;

        & .cardActions {
            justify-content: flex-end;
        }
    }
}

.newIemToItemBtn {
    display: inline-block;
    margin-left: 20px;
}

.integrationCode {
    border: 1px solid var(--color-divider);
    white-space: pre-wrap;
    word-break: break-word;
    padding: 10px;
    background-color: #fcfcfc;
    margin: 0;
    align-self: flex-start;
}

.integrationLabel {
    font-size: 12px;
    margin-bottom: 6px;
    color: var(--label-color);
}

@media (height <= 1000px) {
    .dialog {
        min-height: 95vh; 
    }
}

@media (height <= 1200px) {
    .dialog {
        min-height: 85vh;
    }
}
