@import '../../../../styles/variables.css';

.stepper {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 85px;
    bottom: 25px;
}
.stepperNav {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex: 1 0 0px;
    margin-bottom: 2px;
    background-color: #fff;

    & .step {
        position: relative;
        flex: 1 0 0px;
        text-align: center;
        padding: 12px;
        padding-bottom: 24px;
        font-size: 14px;
        color: rgba(0,0,0, 38%);
        overflow: hidden;

        &.optional{
            padding-left: 16px;
            padding-right: 16px;
        }

        &.warning{
            & .label,
            & .circle {
                color: #F44336;
            }
            
            & .circle { 
                background: transparent;
            }
        }

        &:hover {
            background-color: rgba(0,0,0, 6%);
        }

        &.active:not(.warning){
            color: rgba(0,0,0, 87%);
            & .circle{
                background-color: #2196F3;
                &.AdUnit{
                    background-color: var(--color-second);
                }
                &.Campaign{
                    background-color: var(--color-first);
                }
                &.AdSlot{
                    background-color: var(--color-second);
                }
                &.Channel{
                    background-color: var(--color-first);
                }
            }
        }

        &.done {
            & .circle {
                color: #fff;
                background-color: #2196F3;
                & .AdUnit {

                }

                & .Campaign {

                }
            }
        }

        & .circle {
            background-color: rgba(0,0,0, 38%);
            border-radius: 100%;
            width: 24px;
            height: 24px;
            color: #fff;
            line-height: 24px;
            display: inline-block;
            margin: auto;
            font-size: 12px;
        }

        & .label{
            margin-top: 16px;
        }

        & .subLabel{
            font-size: 12px;
            color: rgba(0,0,0, 54%);
        }

        & .barLeft, 
        & .barRight {
            position: absolute;
            top: 24px;
            height: 1px;
            border-top: 1px solid #BDBDBD;
        }

        &:not(:last-child) .barLeft {
            right: 0;
            left: 50%;
            margin-left: 20px;
        }

        &:not(:first-child) .barRight {
            left: 0;
            right: 50%;
            margin-right: 20px;
        }
    }
}

.page {
    background-color: #fff;    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 110px;
}

.pageContent {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 80px;
    padding: 20px;
    overflow-y: auto;
    overflow-y: overlay;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    & .right {
        text-align: right;
        display: inline-block;
        width: 50%;
    }

    & .left {
        display: inline-block;
        text-align: left;
        width: 50%;        
    }
}
